.users-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.users-table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.users-table tbody tr:nth-child(even) {
  background-color: #04AA6D;
}

.users-table tbody tr:hover {
  background-color: #ddd;
}

.users-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.form-label {
  color: black;
 }