.navbar {
  height: 114px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0 0 50px;
  max-width: 100%;
  color: rgb(4, 196, 106);
}

.navbar-menu {
  display: flex;
  margin-bottom: -33px;
  flex: 1 1;
  gap: 25px;
}

.nav-link {
  padding-bottom: 23px;
  margin-bottom: 12px;
  border-bottom: none;
  margin: 12px 15px 0 12px;
  transition: unset;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.nav-link.active {
  font-weight: 600;
  color: rgb(1, 94, 50);;
}

.header-logo {
  margin-top: -10px;
}

@media screen and (max-width: 860px) {
  .navbar {
    padding: 12px 0 0 12px;
  }

  .nav-link {
    margin: 12px 0 0 0;
  }
}
